# -clang-diagnostic-... cannot be given here because for some reason it is ignored unless given via CLI.
Checks: >-
  boost-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -google-readability-todo,
  -readability-avoid-const-params-in-decls,
  -readability-identifier-length,
  -llvm-header-guard,
  -llvm-include-order,
  -bugprone-easily-swappable-parameters,
  -modernize-macro-to-enum,
  -*-use-trailing-return-type,
  -*-named-parameter,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '90'
  - key:   readability-magic-numbers.IgnoredIntegerValues
    value: '1;2;3;4;5;6;7;8;9;10;16;24;32;60;64;100;128;256;500;512;1000'
  - key:   readability-magic-numbers.IgnoredFloatingPointValues
    value: '1e-9;1e-6;1e-3;0.0;1.0;100.0;1e3;1e6;1e9;0.5;1.5;2.0;3.0;4.0'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*\.hpp'
AnalyzeTemporaryDtors: false
FormatStyle: file